params {
    OUTDIR = "${launchDir}/output"
    BQTLS = "${launchDir}/data/final_bqtls_for_targene_one_snp_removed.csv"
    EQTLS = "${launchDir}/data/final_eqtls_for_targene.csv"
    ASSEMBLY = "hg38"
    EXCLUSION_REGIONS = "${launchDir}/data/genomicc_associated_SNPs_BGEN_ID_with_LD_blocks.csv"
    CONFIG_FILE = "${launchDir}/data/genomicc_allele_independent.config"
    ESTIMANDS_FILE = "${launchDir}/data/estimands.yaml"
    BGEN_FILES = "/exports/igmm/eddie/ponting-lab/breeshey/data/genomicc/imputed/genomic-isaric/GenOMICC_ISARIC_chr{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22}.{bgen,bgen.bgi,sample}"
}