manifest {
    author = 'Breeshey Roskams-Hieter'
    description = 'Nextflow pipeline for generating biological negative control for GenOMICC study'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.04.5'
    version = '0.1.0'
}

profiles {
    eddie {
        includeConfig 'conf/eddie.config'
    }
}

trace {
    enabled = true
    overwrite = true
    file = "${launchDir}/trace.txt"
}
